<div class="container">
    <div class="card card-container">
        <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120"
            alt="" />
        <!--             <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
-->
        <p id="profile-name" class="profile-name-card"></p>
    <h5>Please give your registered email id..</h5>

    <form [formGroup]="forgotForm" class="form-signin">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email Id" formControlName="email" (keyup)="disableIsFlag()">
        </mat-form-field>
        <mat-error *ngIf="forgotForm.controls['email'].hasError('required') && forgotForm.controls['email'].touched">
            <h6> Please enter your email id.</h6>
        </mat-error>
        <mat-error *ngIf="!isFlag">
            <h6>email doesnot exist.</h6>
        </mat-error>
        <br>

        <button mat-raised-button class="btn btn-lg btn-primary btn-block btn-signin" (click)="C_forgotPassword()" [disabled]="forgotForm.invalid">Submit</button>
        
    </form>
</div>
</div>