<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </head>
    <!-- Navigation -->
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="htttp://www.binarytheme.com">MyMoviePortal </a>
                    </div>
                    <!-- Collect the nav links for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse" style="font-size:20px;">
                        <ul class="nav navbar-nav navbar-right">
                            
                            <li><a [routerLink]="" (click)="activeValue('c')">City</a>
                            </li>
                            
                            <li><a [routerLink]="" (click)="activeValue('t')">Theatre</a>
                            </li>
        
                            <li><a [routerLink]="" (click)="activeValue('m')">Movie</a>
                            </li>
        
                            <li><a [routerLink]="" (click)="fileOperations()">Movie By File</a>
                            </li>
                            <li class="dropdown" ><a [routerLink]="" class="dropbtn">Download PDF</a>
                                <div class="dropdown-content">
                                    <a [routerLink]="" (click)="downloadPDF()">Movie Info</a>
                                    <a [routerLink]="" (click)="cityTheatreFlagChange()">CityTheatre</a>
                                    <a [routerLink]="" (click)="movieTheatreFlagChange()">MovieTheatre</a>
                                  </div>
                            </li>
                            <li class="dropdown"><a [routerLink]=""  class="dropbtn">Mapping</a>
                                <div class="dropdown-content">
                                    <a [routerLink]="" (click)="cityTheatreFlagChange()">CityTheatre</a>
                                    <a [routerLink]="" (click)="movieTheatreFlagChange()">MovieTheatre</a>
                                  </div>
                            </li>

                            <li><a [routerLink]="" (click)="timeFlagChange()">Add Time</a>
                            </li>

                            <li><a [routerLink]="" (click)="logout()">logout</a>
                            </li>
                           
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
                  </header>
            <!--End Navigation -->

<div id="home">
<div class="container">
    <div class="card card-container">
        <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120"
            alt="" />
        <!--             <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    -->
        <p id="profile-name" class="profile-name-card"></p>

        <br>
        <br>
        <div *ngIf="activeFlag" class="form-signin">
            <a [routerLink]="" (click)="insertFormData() ">
                <h3 style="margin-top: 50px;">add {{value}}</h3>
            </a>
            <a [routerLink]="" (click)="deleteFormData()">
                <h3 style="float: right;margin-top: -17%;margin-right: 10px;">remove {{value}}</h3>
            </a>
        </div>
        <br>
        <br>
        <div *ngIf="insertFlag">
            <form [formGroup]="insertForm" class="form-signin">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{value}}" formControlName="{{value}}Name" (keyup)="disableEmptyFlag()">
                </mat-form-field>
                <br>
                <div *ngIf="value==city">
                    <mat-error *ngIf="insertForm.controls['cityName'].hasError('required') && insertForm.controls['cityName'].touched">
                        <h6> Please enter city name.</h6>
                    </mat-error>
                </div>
                <div *ngIf="value==movie">
                    <mat-error *ngIf="insertForm.controls['movieName'].hasError('required') && insertForm.controls['movieName'].touched">
                        <h6> Please enter movie name.</h6>
                    </mat-error>
                </div>
                <div *ngIf="value==theatre">
                    <mat-error *ngIf="insertForm.controls['theatreName'].hasError('required') && insertForm.controls['theatreName'].touched">
                        <h6> Please enter theatre name.</h6>
                    </mat-error>
                </div>
                <mat-error *ngIf="repeatFlag">
                    <h6>{{value}} already exists.</h6>
                </mat-error>
                <mat-error *ngIf="emptyFlag">
                    <h6>please don't give empty value</h6>
                </mat-error>
                <button mat-raised-button class="mat-primary full-width mb-1" (click)="insertData()" [disabled]="value==''">Submit</button>
            </form>
        </div>

        <div *ngIf="deleteFlag">
            <form [formGroup]="deleteForm" class="form-signin">
                <mat-form-field>
                    <mat-select placeholder="Select {{value}}" formControlName="{{value}}Name">
                        <div *ngIf="value == 'city'">
                            <mat-option *ngFor="let city of cityArray" [value]="city.cityName">
                                {{city.cityName}}
                            </mat-option>
                        </div>
                        <div *ngIf="value == 'theatre'">
                            <mat-option *ngFor="let theatre of theatreArray" [value]="theatre.theatreName">
                                {{theatre.theatreName}}
                            </mat-option>
                        </div>
                        <div *ngIf="value == 'movie'">
                            <mat-option *ngFor="let movie of movieArray" [value]="movie.movieName">
                                {{movie.movieName}}
                            </mat-option>
                        </div>

                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button class="mat-primary full-width mb-1" (click)="deleteData()" [disabled]="deleteForm.invalid">Submit</button>
            </form>
        </div>

        <div *ngIf="cityTheatreFlag">
            <form [formGroup]="cityTheatreForm" class="form-signin">
                <mat-form-field>
                    <mat-select placeholder="City" #selectCity (change)="getCityId(selectCity.value)" formControlName="cityName">
                        <mat-option *ngFor="let city of cities" [value]="city.cityId">
                            {{city.cityName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-select placeholder="Theatre" #selectTheatre (change)="getTheatreId(selectTheatre.value)" formControlName="theatreName">
                        <mat-option *ngFor="let theatre of theatres" [value]="theatre.theatreId">
                            {{theatre.theatreName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button class="mat-primary full-width mb-1" (click)="insertCityTheatreData()" [disabled]="cityTheatreForm.invalid">Submit</button>
            </form>
        </div>

        <div *ngIf="movieTheatreFlag">
            <form [formGroup]="movieTheatreForm" class="form-signin">
                <mat-form-field>
                    <mat-select placeholder="Movie" #selectMovie (change)="getMovieId(selectMovie.value)" formControlName="movieName">
                        <mat-option *ngFor="let movie of movies" [value]="movie.movieId">
                            {{movie.movieName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-select placeholder="Theatre" #selectTheatre (change)="getTheatreId(selectTheatre.value)" formControlName="theatreName">
                        <mat-option *ngFor="let theatre of theatres" [value]="theatre.theatreId">
                            {{theatre.theatreName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-select placeholder="Time" #selectTime (change)="getShowtimeId(selectTime.value)" formControlName="showtime">
                        <mat-option *ngFor="let showtime of showtimes" [value]="showtime.showTimeId">
                            {{showtime.showTimeValue|date: format}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="discount" formControlName="discount" #discount>
                </mat-form-field>
                <br>

                <button mat-raised-button class="mat-primary full-width mb-1" (click)="insertMovieTheatreData(discount.value)" [disabled]="movieTheatreForm.invalid">Submit</button>
            </form>
        </div>
        <div *ngIf="timeFlag">
            <form [formGroup]="timeForm" class="form-signin">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="time" formControlName="time" #time (keyup)="disableWrongDateFlag()">
                    <mat-hint align="end">format HH:mm:ss</mat-hint>
                </mat-form-field>
                <mat-error *ngIf="wrongDateFlag">
                    <h6>give valid format of time</h6>
                </mat-error>
                <mat-error *ngIf="timeExistsFlag">
                    <h6>showtime exists</h6>
                </mat-error>
                <br>

                <button mat-raised-button class="mat-primary full-width mb-1" (click)="insertTime(time.value)" [disabled]="timeForm.invalid">Submit</button>
            </form>
        </div>


    </div>

</div>
</div>
<!--footer Section -->
<div class="for-full-back " id="footer">
    MoviePortal | Piyush Kushwah
     
</div>
<!--End footer Section -->