<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </head>
    <!-- Navigation -->
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">MoviePortal</a>
                    </div>
                    <!-- Collect the nav links for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                    
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
                  </header>
            <!--End Navigation -->
        
    <div id="home">    
    <div class="container">
        <div class="card card-container">
            <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120"
                alt="" />
            <!--             <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    -->
            <p id="profile-name" class="profile-name-card"></p>
            <h2>Login Page</h2>
           
            <form  [formGroup]="loginForm" class="form-signin">
                <!-- <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password"> -->
    
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email Id" formControlName="email">
                </mat-form-field>
                <mat-error *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
                    <h6> Please enter your email id.</h6>
                </mat-error>
                <mat-error *ngIf="!isFlag">
                    <h6>you may have given wrong email id.</h6>
                </mat-error>
                <br>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="password" type="password" formControlName="password">
                </mat-form-field>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                    <h6>Please enter your password.</h6>
                </mat-error>
                <mat-error *ngIf="!isFlag">
                    <h6>you may have given wrong password.</h6>
                </mat-error>
                <br>
                <br>
                
                <button style="float: left;box-shadow: none;margin-right: 25px;" mat-raised-button class="btn   btn-signin" (click)="C_loginUser()" [disabled]="loginForm.invalid">Login</button>
                <button mat-raised-button class="btn  btn-signin" (click)="C_guestLogin()">Continue as a guest</button>
                
                <button style="float:left;margin-right: 25px;" mat-raised-button class="btn btn-lg btn-primary btn-block btn-signin" (click)="C_registerUser()">Register</button>
                <button  mat-raised-button class="btn btn-lg btn-primary btn-block btn-signin" (click)="C_forgotPassword()">Forgot Password</button>
            </form>
            <!-- /form -->
            <!-- <a href="#" class="forgot-password"> Forgot the password? </a>
            <a href="#" class="registration"> registration user </a> -->
    
        </div>
        <!-- /card-container -->
    </div>
    <!-- /container -->
    </div>
        <!--footer Section -->
        <div class="for-full-back " id="footer">
            MoviePortal | Piyush Kushwah
             
        </div>
        <!--End footer Section -->